/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet and mobile */
@media (max-width: 991.98px) {
  /* 1.ẩn navbar */
  .navbar {
    display: none;
  }

  /* 2.chuyển logo vào giữa */
  .header-top {
    position: relative;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /* 3.căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }

  /* 4.overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* bình thường ẩn đi */
    opacity: 0;
    visibility: hidden;
  }

  /* 5.nếu checkbox được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* 6.menu-drawer */
  .menu-drawer {
    position: fixed;
    background-color: #2d1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }

  /* 7.nếu checkbox được check thì hiện menu-drawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* 8.menu top */
  .close-menu {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* hero */
  .hero {
    flex-direction: column;
    gap: 50px;
  }

  .hero__content {
    order: 2;
  }

  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }

  .hero__media {
    order: 1;
  }

  .hero__row {
    justify-content: center;
  }

  /* khối service */
  .service__row {
    flex-direction: column;
    gap: 20px;
  }

  .service__img {
    width: 100%;
  }

  .service__list {
    text-align: center;
  }

  .service-item {
    width: 90%;
    text-align: start;
  }

  /* work list */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }

  .about__media {
    width: 100%;
  }

  .about__img--small {
    display: none;
  }

  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px 0;
  }

  .about-content {
    width: 90%;
    text-align: center;
  }

  /* team list */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .team-item__thumb {
    height: 420px;
    margin: 0 auto;
  }

  /* install */
  .install__img {
    display: none;
  }

  .install__content {
    width: 90%;
    margin: 0 auto;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media (min-width: 767.98px) {
}

/* Tạm ẩn phần không liên quan */
.footer {
  display: none;
}
